<script src="js/signup.js"></script>
<link rel="stylesheet" href="css/signup.css">

<div class="flex-container">
    <div class="content-container">
      <div class="form-container">
        <form>
          <h1>
            Signup
          </h1>
          <br>
          <p>Already have an account? <a href="login">Log in!</a></p>
          <br>
          <span class="subtitle">USERNAME:</span>
          <br>
          <input type="text" name="username" value="" id="username">
          <br>
          <span class="subtitle">PASSWORD:</span>
          <br>
          <input type="password" name="password" value="" id="password">
          <br><br>
          <input type="button" onclick="signup()" value="SUBMIT" class="submit-btn">
        </form>
      </div>
    </div>
  </div>